body {
  margin: 0;
  font-family: Karla;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 64pt;
  font-weight: medium; 
}

h2 {
  font-size:40pt;
  font-weight: normal;
  color: #f4ce14;
  font-family: 'Times New Roman', Times, serif;
  margin:0px;
  text-align: left;
  font-family: Markazi;
}

h3 {
  font-size:20pt;
  font-weight: medium;
  color:#edefee;
  margin:0px;
  text-align: left;
}

.top p {
  color:#edefee;
  font-family: sans-serif;
  margin:10px 0px 0px 0px;
  width:50%;
}


 
.flex-container {
  display: flex;
  flex-direction: row;
}
.top {
  background-color: #495E57;
  width:100%;
  height:300px;
  padding-top: 20px;
  padding-bottom:20px;
  padding-left:30px;
  padding-right:30px;
  overflow-y: visible;
 
}

nav {
    width:70%;
    float:right;
  margin-bottom:30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
  margin-top:30px;
} 

li {
  display: inline;
}
nav a {
  padding: 8px;
  text-decoration: none;
  color:#333333;
}

.logo {
  float:left; 
  max-width: 30%;
}

body {
  margin:20px;
}

.col {
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  float:left;
}

button {
  background-color: #f4ce14;
  color:#333333;
  font-weight:bold;
  font-size:16px;
  border-radius: 16px;
  border-color:#f4ce14;
  border:none;
  width:40%;
  margin-top:10px;
  padding: 10px;
}

.top img {
  height:400px; 
  width:75%;
  border-radius: 16px;
}

.center {
  margin-top:100px;
}

.center h2 {
  color:#333333;
  font-weight:bold;
}

.center button  {
  margin-left:40%;
  padding:20px;
}

.items .col {
  background-color: #edefee;
  margin:20px;
  border-radius: 16px;
}

.items {
  margin-top:50px;
}

.items .col img {
  border-radius: 16px;
  width:100%;
  height:300px;
  margin-bottom:20px;
}

.items .col .text 
{
  padding-top:0px;
  padding-left:20px;
  padding-bottom:10px;
}

.text p.title 
{
  font-weight:bold;
  font-size:18pt;
  margin-bottom:10px;
  color:#333333;
}
.text p 
{
  font-weight:regular;
  font-size:16pt;
  line-height:1.5;
  color:#495E57;
}

.price {
  font-weight:medium;
  font-size:16pt;
  color:#EE9972; 

}

.text p.delivery 
{
  color:#333333;
  font-weight:bold;
  width:75%;
}

.delivery:after {
  content: '';
  background-image:url("/public/Groupdelivery.png");
  background-repeat: no-repeat;
  position:absolute;
  display:inline-block;
  width:30px;
    height:10px;
  margin-top:12px;
  margin-left:20px;
    
}

.testimonials {
  background-color: #495E57;
  margin:20px;
  justify-content: center;
  flex-wrap: wrap;
  
}

.testimonials h2 {
  color:#333333;
  text-align: center;

  margin-top:100px;
  margin-bottom:50px;
}

.about .col {
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  float:left;
}

.about h2 {
  color:#333333;

}

.about h3 {
  color:#333333;
}
.about p {
  margin-top:20px;
  width:50%;
 
}

footer {
  padding:20px;
  background-color: #495E57;
}

.about {
  padding:30px;
  overflow: hidden;
}

.onecol {
  width:100%;
  flex-direction: row;
  flex-basis: 100%
}

.fourth {
  width:20%;
  padding:0px;
  background-color: #edefee;
  margin-left:20px;
  padding:5px;
  margin-bottom:100px;
}

.about .col img {
  width:300px;

}
.about .col img.first {
  margin-top:30px;
  margin-right:-20px;
}

.about .images {
  margin-right:150px;
}

.about .images .col {
  width:300px;
  margin-right:50px;
}

.about .images .col.first {
  margin-right:-20px;
}

footer .fourth {
  background-color: #495E57;
}

footer img {
  margin-top:25px;
  height:150px;
}

footer li {
  display: block;
  margin:5px;
  color:#333333;
}

footer a {
  padding: 8px;
  text-decoration: none;
  color:black;
}



footer p {
  margin:5px;
}

footer .address {
  margin-top:20px;
}

.booking {
  margin-top:100px;
  margin-bottom:50px;
  margin-left:50px;
  margin-right:50px;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.booking h2 {
  color:#333333;
}

.booking {
  flex-wrap: wrap;
}

.confirm {
  color:#333333;
}